Fal.ai nanobanana2 image to image edit.json
{
  "name": "Fal.ai nanobanana2 image to image edit",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "prompt"
            },
            {
              "name": "imageURLs",
              "type": "array"
            },
            {
              "name": "aspect_ratio"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        32,
        16
      ],
      "id": "0746678c-66ed-4bcf-8897-99b646d354a4",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/nano-banana-pro/edit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"image_urls\": [\n    \"{{ $json.imageURLs[0] }}\",\n    \"{{ $json.imageURLs[1] }}\"\n  ],\n\"aspect_ratio\":\"{{ $json.aspect_ratio }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        16
      ],
      "id": "85c99201-81b6-4317-8217-3ca4ed0a3bf3",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hdBniIxMTgypxIL9",
          "name": "Fal Video "
        }
      }
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "video_urls",
              "value": "={{ $json.videoUrls }}"
            },
            {
              "name": "resolution",
              "value": "={{ $json.resolution }}"
            },
            {
              "name": "aspect_ratio",
              "value": "={{ $('When Executed by Another Workflow').item.json.aspect_ratio }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        496,
        16
      ],
      "id": "114aa096-b5a1-4792-85b2-2ac2b5e1b26a",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hdBniIxMTgypxIL9",
          "name": "Fal Video "
        }
      }
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "video_urls",
              "value": "={{ $json.videoUrls }}"
            },
            {
              "name": "resolution",
              "value": "={{ $json.resolution }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -144
      ],
      "id": "f58e6c85-3fc2-4235-ba99-80d598191131",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hdBniIxMTgypxIL9",
          "name": "Fal Video "
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "COMPLETED",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "b93b9da0-ed07-4c53-b9f5-cb3dbc11cb54"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "COMPLETED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aa9e7429-3426-401a-9dd1-b31896503ad8",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "FAILED",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FAILED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9cfda736-0a16-4310-92d1-cf5434208db5",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": " IN_QUEUE",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "QUEUED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "399ed04a-2749-4eb1-8e0a-68a0bfe0fca2",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "IN_PROGRESS",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IN_PROGRESS"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        704,
        -16
      ],
      "id": "633324f9-63a0-45b3-baa6-e65d0d324efd",
      "name": "Switch"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        896,
        128
      ],
      "id": "0516bc13-809d-4ff5-b3e4-9c3ff5877198",
      "name": "Wait",
      "webhookId": "72cda0b7-0c41-4bc0-97d7-068da9eef216"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "prompt": "A crisp, detailed photo from inside a refrigerator, looking out. A woman's hand is reaching in to grab a cold, condensation-covered plastic bottle of Minute Maid Fruit Punch. The refrigerator light illuminates the bottle and its vibrant red liquid.",
          "imageURLs": [
            "https://drive.google.com/uc?id=1_0CXgKtQf0swpjd_Dny4i4SuqJRKaWLD&export=download",
            "https://drive.google.com/uc?id=1x48YB8Iw0u3wB-npBiSZbgndNsHzeqju&export=download"
          ],
          "aspect_ratio": "9:16"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "30ccba32-497f-453d-88ba-c7a43c02f7d8",
  "meta": {
    "instanceId": "8e5aa95c0552a76b6f87328dfd800de4d3cc8f008434bf9076c4dfb3cb935d83"
  },
  "id": "3x5sjsBUeWNBAPHx",
  "tags": []
}